@page "/Jovenes"
@using SistemaEnlace.Shared.Entities
@using SistemaEnlace.WEB.Repositories
@using SistemaEnlace.WEB.Shared
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@inject IRepository repository

<div class="container mt-4">
    <div class="card">
        <div class="card-header" style="background-color: #f2f2f2;">

            <h1 class="mb-0" style="outline: none;">Jóvenes Vulnerables</h1>
        </div>
        <div class="card-body">
            <div class="mb-3 text-end">

                <a class="btn btn-primary" href="/Jovenes/create">
                    <i class="bi bi-plus-circle"></i> Nuevo Registro
                </a>
            </div>
            <GenericList MyList="jovenVulnerables">
                <Body>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover align-middle">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Edad</th>
                                    <th>Fecha de Nacimiento</th>
                                    <th>Ubicación</th>
                                    <th>Correo</th>
                                    <th>Situación</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in jovenVulnerables!)
                                {
                                    <tr>
                                        <td>@item.id</td>
                                        <td>@item.Nombre</td>
                                        <td>@item.Apellidos</td>
                                        <td>@item.Edad</td>
                                        <td>@item.Ubicacion</td>
                                        <td>@item.correo</td>
                                        <td>@item.Situacion</td>
                                        <td>

                                            <a href="/Jovenes/editar/@item.id" class="btn btn-warning me-2">
                                                <i class="bi bi-pencil-square"></i> Editar
                                            </a>
                                            <button @onclick=@(() => ConfirmarEliminacion(item)) class="btn btn-danger">
                                                <i class="bi bi-trash-fill"></i> Borrar
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </Body>
            </GenericList>
        </div>
    </div>
</div>

@code {
    public List<JovenVulnerable> jovenVulnerables { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        var responseHttp = await repository.GetAsync<List<JovenVulnerable>>("/api/JovenVul");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        jovenVulnerables = responseHttp.Response;
    }

    private async Task ConfirmarEliminacion(JovenVulnerable jovenVulnerable)
    {
        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmar Eliminación",
                Text = $"¿Estás seguro de querer borrar el registro de {jovenVulnerable.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                ConfirmButtonText = "Sí, borrar",
                CancelButtonText = "No, cancelar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await DeleteAsync(jovenVulnerable);
        }
    }

    private async Task DeleteAsync(JovenVulnerable jovenVulnerable)
    {
        var responseHttp = await repository.DeleteAsync<JovenVulnerable>($"/api/JovenVul/{jovenVulnerable.id}");
        if (responseHttp.Error)
        {
            if (responseHttp.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("Jovenes");
            }
            else
            {
                var mensajeError = await responseHttp.GetErrorMessage();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
            return;
        }

        await LoadAsync();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = false,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro borrado con éxito.");
    }
}
